module github.com/JosephKav/josephkav.io

go 1.16

require (
	github.com/HugoBlox/hugo-blox-builder/modules/blox-bootstrap/v5 main
	github.com/HugoBlox/hugo-blox-builder/modules/blox-plugin-netlify main
	github.com/HugoBlox/hugo-blox-builder/modules/blox-plugin-reveal main
)
