@keyframes slide-from-left {
  0% {transform: translateX(-300%)}
  100% { transform: translateX(0%); }
}

@keyframes slide-from-right {
  0% {transform: translateX(300%)}
  100% { transform: translateX(0%); }
}

@keyframes fade-in {
  0% {opacity: 0}
  100% {opacity: 1}
}


// Home
#profile {
  animation: slide-from-left 0.4s cubic-bezier(0.87, 0, 0.13, 1) forwards;
}

#person-content {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 0s;
}

#person-interests {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 0s;
}

#person-education {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 0s;
}

#skills {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 0s;
}

#experience {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 0s;
}

#accomplishments {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 0s
}

#posts {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 0s;
}

#contact {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 0s;
}




// Blog
.page-body {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 0s;
}
